---
---

@import "reset";

html {font-size: 100%;} /*16px*/

body {
  background: #eaf3f5;
  font-family: 'Aleo', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #212121;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Aleo', serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

@media screen and (max-width: 600px) {
  h1, h2, h3 {
    font-size: 1.563rem;
  }
}

.sitename {
  font-size: 1rem;
  margin: 0;
}

header {
  padding: 1rem 1.5rem;
  // padding: 1rem 2rem;
  border-bottom: 2px solid;
  margin-bottom: 3rem;
}

header, nav ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav ul li {
  padding: .5rem .5rem;

  &:last-child {
    margin-right: -.5rem;
  }
}

nav ul li {
  // font-size: 1.125rem;
}

a, a:visited {
  color: #7F0612 !important;
}

.container {
  max-width: 960px;
  padding: 0 1.5rem;
}

img {
  max-width: 100%;
}

.home article {
  margin-top: 3rem;
}

.tracks {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3rem;
}

.track {
  background: rgba(0,0,0,.05);
  padding: 1rem 2rem;
  border-radius: .5rem;
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
}